<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buf.carloop">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EntryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignIn"
            android:label="@string/title_activity_sign_in"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForgotPassword"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Footer"
            android:label="@string/title_activity_footer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CarpoolList"
            android:label="@string/title_activity_carpool_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CarpoolSingle"
            android:label="@string/title_activity_carpool_single"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CarpoolNew"
            android:label="@string/title_activity_carpool_new"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DriverVehicleInfo"
            android:label="@string/title_activity_driver_vehicle_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManageProfile"
            android:label="@string/title_activity_manage_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChangePassword"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EmailTest"
            android:label="@string/title_activity_email_test"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
